[alias]
  files = !git diff --name-only $(git merge-base HEAD origin/master)
  stat = !git diff --stat $(git merge-base HEAD origin/master)
  review = !nvim -p $(git files) +\"tabdo Gdiffsplit $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"
  reviewone = !nvim -p +\"tabdo Gdiffsplit $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

[user]
	email = sat0b.3ee@gmail.com
	name = Junichi Sato

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[core]
    editor = code --wait
	autocrlf = input
